<?xml version="1.0"?>
<robot name="red_box">

  <link name="box_link">
    <collision>
      <origin xyz="0 0 0.04" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.08" />
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0.04" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.08" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1.0" />
      </material>
    </visual>

    <inertial>
      <origin xyz="0.0 0.0 0.04" rpy="0 0 0" />
      <mass value="0.13568" />
      <inertia ixx="9e-05" iyy="9e-05" izz="3.6e-05" ixy="0.0" iyz="0.0" ixz="0.0" />
    </inertial>
  </link>

  <gazebo reference="box_link">
    <material>Gazebo/Red</material>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <mu1>1.16</mu1>
    <mu2>1.16</mu2>
    <maxVel>0.0</maxVel>
    <minDepth>0.003</minDepth>
  </gazebo>


</robot>