<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="center_02">
  <link
    name="center_02">
    <inertial>
      <origin
        xyz="0.05 0.05 -0.015665"
        rpy="0 0 0" />
      <mass
        value="0.97831" />
      <inertia
        ixx="0.00073743"
        ixy="5.9851E-13"
        ixz="-1.6345E-14"
        iyy="0.00073743"
        iyz="-2.1095E-15"
        izz="0.0012655" />
    </inertial>
    <!-- <inertial>
      <origin
        xyz="0.05 0.015665 0.05"
        rpy="0 0 0" />
      <mass
        value="0.97831" />
      <inertia
        ixx="0.00073743"
        ixy="-1.6345E-14"
        ixz="-5.9851E-13"
        iyy="0.0012655"
        iyz="2.10946766610614E-15"
        izz="0.00073743" />
    </inertial> -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <!-- xyz="0.05 -0.05 -0.045"
      rpy="1.5707963267949 0 0" /> -->
    <geometry>
        <mesh
          filename="package://my_ur10_description/meshes/object/center_02.STL" />
      </geometry>
      <material
        name="plain_carbon_steel">
        <color
          rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_ur10_description/meshes/object/center_02.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="center_02">
    <material>
      <color rgba="0.52941 0.54902 0.54902 1" />
    </material>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <mu1>0.8</mu1>
    <mu2>0.7</mu2>
    <maxVel>0.0</maxVel>
    <minDepth>0.001</minDepth>
    <!-- <selfCollide>true</selfCollide> -->
  </gazebo>
</robot>